{% extends 'common/base_footer_header/base.html' %}
{% load static %}

{% block title %}
	Профил
{% endblock %}

{% block content %}
    <div class="profile-section">

        <div class="profile-info">

                <div class="profile-info-image">

                    <img src="{% static 'images/profile-icon.png' %} " alt="profile-icon">

                </div>
                <div class="profile-info-text">

                    <p>Потребител: <span class="details-p-span">{{ user.username }}</span></p>
                    <p>Имейл: <span class="details-p-span">{{ user.email }}</span></p>

                </div>

        </div>

        <div class="profile-edit">
            <h2>Настройки на профила</h2>
            <a href="{% url 'password-change' %}"><p>Смяна на парола</p></a>
            <a href="{% url 'user-profile-delete' user.id %}"><p>Изтриване на профил</p></a>

        </div>

    </div>
{% endblock %}