{% extends 'common/base_footer_header/base.html' %}

{% block title %}
    Регистрация-потребител
{% endblock %}


{% block content %}
    <div class="form-section">
        <h1>Регистрация</h1>

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="fancy special-class credentials">Регистрация</button>
            </form>

        {% include 'accounts/common/error-messages.html' %}
    </div>
{% endblock %}
