@import url('https://fonts.googleapis.com/css?family=Roboto|Sriracha&display=swap');


.contractor-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    height: 300px;
    width: 250px;
    border-radius: 10px;
    background-color: #ffffff;
    position: relative;
}

.contractor-card-rating-section {
    width: 80%;
    position: absolute;
    top: 1.8em;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    /*background-color: #f4f4f4;*/
    /*border: 2px solid #b8b8b8;*/
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

.contractor-card-rating-section p {
    font-size: 0.6em;
    color: #595959;
}

.contractor-results::before, .contractor-results::after {
    display: block;
    content: '';
    flex: 0 0 250px;
    order: 999;
}

.profile-img, .contractor-card {
    border: 2px solid #b8b8b8;
    /*border: 2px solid rgb(0, 18, 83, 70%);*/
}

.contractor-card .profile-img {
    position: absolute;
    top: -13%;
    height: 75px;
    width: 75px;
    min-height: 75px;
    min-width: 75px;
    border-radius: 25%;
    overflow: hidden;
}

.contractor-card .profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card-content {
    margin: auto 0;
    /*border: 2px solid red;*/
    width: 100%;
    height: 70%;
}

.contractor-name {
    text-align: center;
    width: 100%;
    height: 10%;
    /*border: 1px solid blue;*/
    position: absolute;
}

.contractor-card h3 {
    font-size: 0.95em;
    color: #454545;
}


.specializations-and-regions-wrapper {
    text-align: center;
    padding: 2em 0.5em 0.5em 0.5em;
    position: absolute;
    width: 100%;
    height: 60%;
    bottom: 40px;
    /*border: 3px solid green;*/
    display: flex;
    gap: 0.3em;
    justify-content: space-around;
}

.specializations-and-regions-wrapper h6 {
    padding-bottom: 0.5em;
}

.card-regions ul, .card-specializations ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.card-regions ul li, .card-specializations ul li {
    position: relative;
    font-size: 0.7em;
    /*border-left: 3px solid rgb(0, 18, 83, 70%);*/
}

.button-section {
    width: 80%;
    height: 13%;
    position: absolute;
    bottom: 0.4em;
    /*border: 2px solid red;*/
}

.button-section a {
    position: absolute;
    bottom: 4px;
    width: 100%;
    height: 100%;
}

.button-section a button {
    width: 100%;
    height: 2.5em !important;
    border-radius: 10px;
}








/*Alternative design*/

/*@import url('https://fonts.googleapis.com/css?family=Roboto|Sriracha&display=swap');*/


/*.contractor-card {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    gap: 0.5em;*/
/*    height: 300px;*/
/*    width: 250px;*/
/*    border-radius: 5px;*/
/*    background-color: #ffffff;*/
/*    position: relative;*/
/*}*/

/*.contractor-card-rating-section {*/
/*    width: 80%;*/
/*    position: absolute;*/
/*    top: 1.8em;*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*    align-items: center;*/
/*    !*background-color: #f4f4f4;*!*/
/*    !*border: 2px solid #b8b8b8;*!*/
/*    border-radius: 15px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    gap: 0.5em;*/
/*}*/

/*.contractor-card-rating-section p {*/
/*    font-size: 0.6em;*/
/*    color: #595959;*/
/*}*/

/*.contractor-results::before, .contractor-results::after {*/
/*    display: block;*/
/*    content: '';*/
/*    flex: 0 0 250px;*/
/*    order: 999;*/
/*}*/

/*.profile-img {*/
/*    border: 1px solid #b8b8b8;*/
/*    !*border: 2px solid rgb(0, 18, 83, 60%);*!*/
/*}*/

/*.contractor-card .profile-img {*/
/*    position: absolute;*/
/*    top: -13%;*/
/*    height: 75px;*/
/*    width: 75px;*/
/*    min-height: 75px;*/
/*    min-width: 75px;*/
/*    border-radius: 25px;*/
/*    overflow: hidden;*/
/*}*/

/*.contractor-card .profile-img img {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: cover;*/
/*    object-position: center;*/
/*}*/

/*.card-content {*/
/*    margin: auto 0;*/
/*    !*border: 2px solid red;*!*/
/*    width: 100%;*/
/*    height: 70%;*/
/*}*/

/*.contractor-name {*/
/*    text-align: center;*/
/*    width: 100%;*/
/*    height: 10%;*/
/*    !*border: 1px solid blue;*!*/
/*    position: absolute;*/
/*}*/

/*.contractor-card h3 {*/
/*    font-size: 0.95em;*/
/*    color: #454545;*/
/*}*/


/*.specializations-and-regions-wrapper {*/
/*    text-align: center;*/
/*    padding: 2em 0.5em 0.5em 0.5em;*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 60%;*/
/*    bottom: 45px;*/
/*    !*border: 3px solid green;*!*/
/*    display: flex;*/
/*    gap: 0.3em;*/
/*    justify-content: space-around;*/
/*}*/

/*.specializations-and-regions-wrapper h6 {*/
/*    padding-bottom: 0.5em;*/
/*}*/

/*.card-regions ul, .card-specializations ul {*/
/*    list-style: none;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 0.2em;*/
/*}*/

/*.card-regions ul li, .card-specializations ul li {*/
/*    position: relative;*/
/*    font-size: 0.7em;*/
/*    !*border-left: 3px solid rgb(0, 18, 83, 70%);*!*/
/*}*/

/*.button-section {*/
/*    width: 95%;*/
/*    height: 10%;*/
/*    position: absolute;*/
/*    bottom: 3em;*/
/*    !*border: 2px solid red;*!*/
/*}*/

/*.button-section a {*/
/*    position: absolute;*/
/*    bottom: 4px;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*.button-section a button {*/
/*       color: #FD841F!important;*/
/*    width: 100%;*/
/*    height: 2.5em !important;*/
/*    background-color: white!important;*/
/*    border: 0.08em solid #FD841F!important;*/
/*}*/

/*.button-section a button::before {*/
/*    color: #001253!important;*/
/*}*/
