@import url('https://fonts.googleapis.com/css?family=Roboto|Sriracha&display=swap');


.contractor-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    height: 300px;
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    position: relative;
}

.contractor-card .profile-img {
    position: absolute;
    top: -13%;
    height: 75px;
    width: 75px;
    min-height: 75px;
    min-width: 75px;
    border-radius: 25%;
    overflow: hidden;
}

.profile-img, .contractor-card {
    border: 2px solid #b8b8b8;
}

.contractor-card .profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.contractor-card h1 {
    padding-top: 20%;
    font-size: 1em;
    text-align: center;
    margin-bottom: 20px;
    color: #3a3a3a; /* $otherAccent */
}

.contractor-card .description {
    margin-top: -15px;
    color: #9a9a9a;
    font-size: 0.8em;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.contractor-card .card-footer {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
    height: 40px;
    padding: 0 20px 10px;
}


.contractor-card .description .my-specializations {
    padding-right: 10px;
}

.my-specializations, .contractor-card-regions {
    border-radius: 2px;
    padding: 2px 7px;
}

.contractor-card .description h2 {
    text-align: center;
    font-size: 0.9em;
    color: #5A667F;
}

.contractor-card .description ul {
    text-align: center;
    color: #5A667F;
    list-style: none;
    font-size: 0.8em;
}

