.public-profile-wrapper {
    padding: 2em 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    letter-spacing: 1px;
    gap: 2em;
}

.projects {
    border-radius: 25px;
}

.contractor-info-section {
    position: relative;
    width: 100%;
    display: flex;
    background-color: rgb(0, 18, 83, 70%);
    border-radius: 25px;
    /*overflow: hidden;*/
}

.info-left-side, .my-specializations, .my-regions {
    border-radius: 25px;
    overflow: hidden;
}

.info-left-side {
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    min-width: 35%;
    max-width: 35%;
    gap: 2em;
    border-right: 5px solid white;
}

.profile-image-and-name {
    position: relative;
    color: #E0E0E0;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.contractor-rating-section {
    width: 80%;
    vertical-align: middle;
    padding: 0.1em 0;
    position: absolute;
    top: 8.5em;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    /*border: 2px solid white;*/
    background-color: #f4f4f4;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    gap: 0.5em;
    border: 2px solid #b8b8b8;
}

.contractor-rating-section a {
    font-size: 0.7em;
}

body > div.site > main > div > div.contractor-info-section > div.info-left-side > div.profile-image-and-name > div.contractor-rating-section > div > ul {
    font-size: 1em;
}


.profile-image-and-name .profile-image {
    width: 10em;
    height: 10em;
    border: 2px solid #b8b8b8;
    border-radius: 25px;
    overflow: hidden;
}

.profile-image-and-name .profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-me-and-contacts {
    align-items: center;
    display: flex;
    flex-direction: column;
    /*padding: 0 2em 2em 2em;*/
    gap: 0.5em;
}

.about-me-and-contacts h3 {
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: 1.3em;
    color: #FFBD73;
    text-align: center;
}

.info-right-side h3 {
    font-weight: bolder;
    font-size: 1.2em;
    color: #FFBD73;
    text-align: center;
}

.about-me-and-contacts p {
    padding: 0.2em 1em;
    font-size: 0.8em;
    color: white;
}

/*.about-me-and-contacts p span {*/
/*    font-size: 0.8em;*/
/*}*/

.about-me {
    text-align: center;
    max-width: 100%;
}

.social-networks {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.social-networks li {
    list-style: none;
    width: 1.5em;
    height: 1.5em;
}

.social-networks li img {
    width: 100%;
    height: 100%;
}


.info-right-side {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-evenly;*/
    /*gap: 5em;*/
}

.my-specializations {
    border-bottom: 5px solid white;
}

.my-specializations, .my-regions {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    width: 100%;
}

.my-specializations h3 span, .my-regions h3 span {
    margin-left: 1em;
}

.my-specializations h3 span, .my-regions h3 span {
    align-items: center;
    vertical-align: middle;
    display: inline-block;
    width: 2em;
    height: 2em;
}

.my-specializations h3 span img, .my-regions h3 span img {
    width: 100%;
    height: 100%;
}

.my-specializations ul, .my-regions ul {
    padding-top: 0.7em;
    align-items: center;
    color: #E0E0E0;
    list-style: none;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    max-width: 80%;
}

.no-projects {
    padding: 0.5em 1em;
    color: white;
    background-color: #E14D2A;
    border-radius: 5px;
}

.no-about-me {
    padding: 0.5em 1em;
    background-color: #E14D2A;
    border-radius: 5px;
}

.no-phone-number {
    padding: 0.5em 1em;
    background-color: #E14D2A;
    border-radius: 5px;
}