.form-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    gap: 1em;
    margin: 0 auto;
}

form {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

form p {
    width: 15em;
}

form p input {
    width: 15em;
}

form p input::placeholder {
    padding-left: 0.3em;
}

form ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 0.5em;
    width: 15em;
    margin: 0 auto;
}

form ul li {
    text-align: center;
}

form .helptext{
    align-self: center;
    display: inline-block;
    font-size: 0.5em;
    width: 20em;
}

form button {
    align-items: center;
}

body > div.site > main > div > form > p:nth-child(9) button{
    background-color: #001253;
}

.form-section h1{
    color: #FD841F;
}

.form-section label {
    color: #000000;
    font-size: 1em;
}

body > div.site > main > div > form > p:nth-child(9), body > div.site > main > div > form > p:nth-child(10), body > div.site > main > div > form > p:nth-child(13), body > div.site > main > div > form > p:nth-child(9) {
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.form-section form div {
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
    gap: 0.5em;
    line-height: 0;
}

.form-section form div div label{
    font-size: 0.8em;
    color: black;
}

#id_regions , #id_specializations{
    width: 100%;
    max-width: 50em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

body > div.site > main > div > form > p:nth-child(9) > label, body > div.site > main > div > form > p:nth-child(10) > label, body > div.site > main > div > form > p:nth-child(13) > label {
    /*color: #FD841F;*/
}