form {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
}



    /*<label for="id_username">Username:</label>*/
    /*<input type="text" name="username" maxlength="150" required="" aria-describedby="id_username_helptext" id="id_username">*/

    /*  <span class="helptext" id="id_username_helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>*/


/*form {*/
/*    position: relative;*/
/*    min-width: 200px;*/
/*    width: 5em;*/
/*}*/

form p {
    width: 15em;
}

/*.select svg {*/
/*    position: absolute;*/
/*    right: 12px;*/
/*    top: calc(50% - 3px);*/
/*    width: 10px;*/
/*    height: 6px;*/
/*    stroke-width: 2px;*/
/*    stroke: #9098A9;*/
/*    fill: none;*/
/*    stroke-linecap: round;*/
/*    stroke-linejoin: round;*/
/*    pointer-events: none;*/
/*}*/

/*.select select {*/
/*    -webkit-appearance: none;*/
/*    padding: 7px 40px 7px 12px;*/
/*    width: 100%;*/
/*    border: 1px solid #E8EAED;*/
/*    border-radius: 5px;*/
/*    background: white;*/
/*    box-shadow: 0 1px 3px -2px #9098A9;*/
/*    cursor: pointer;*/
/*    font-family: inherit;*/
/*    font-size: 1em;*/
/*    transition: all 150ms ease;*/
/*}*/

.select select:required:invalid {
    color: #5A667F;
}

.select select option {
    color: #223254;
}

.select select option[value=""][disabled] {
    display: none;
}

form p p:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(2, 1, 0, 0.2);
}

.select select:hover + svg {
    stroke: #DD5746;
}

.sprites {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
}

body > div.site > main > form > p:nth-child(4) {
    display: flex;
    flex-direction: column;
}

#id_username {
    flex-grow: 0;
}

#id_username_helptext {
    font-size: 0.4em;
    width: 100%;
}

#id_specializations {

}