header {
    align-items: center;
    align-self: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.5em 1em 0.4em 0.5em;

}

header .navigation-and-logo {
    align-items: center;
    display: flex;
    gap: 1em;
}

header .navigation-and-logo .header-logo {
    padding-top: 5px;
    align-self: center;
    width: 120px;
}

header .navigation-and-logo .header-logo img {
    width: 100%;
    /*padding-bottom: 5%;*/
}

header .user-section {
    align-self: center;
    font-size: 0.8em;
    display: flex;
    gap: 1em;
    color: #001253;
}

header .user-section p {
    align-self: center;
}

body > div.site > header > header > div.user-section > nav {
    display: flex;
    gap: 0.7em;
}

body > div.site > header > header > div.user-section > nav > a {
    color: #FD841F;
    text-decoration: none;
    font-size: 0.9em;
    padding: 0.1em 0.3em;
    border-radius: 5px;
    border: 1px solid #E14D2A;
}

body > div.site > header > header > div.user-section > nav > a:hover {
    color: #ffffff;
    background-color: #FD841F;
}