.forbidden-button {
    text-align: center;
    background-color: #b6b6b6;
    color: white;
    border-radius: 5px;
}

.user-not-authenticated-message {
    text-align: center;
    color: #E14D2A;
    font-size: 0.7em;
}