.pagination {
    /*background-color: #FD841F;*/
    /*padding: 0.2em 0.8em;*/
    /*border-radius: 5px;*/
    color: white;
    /*border: 2px solid #FD841F;*/
}

.pagination .step-links {
    align-self: center;
    display: flex;
    gap: 0.5em;
    color: #FD841F;
}

.pagination .step-links span {
    padding: 0 0.6em;
    margin: 0 0.5em;
    border-radius: 5px;
    border: 1px solid #FD841F;
}

.pagination .step-links a img {
    vertical-align: middle;
    color: #FD841F;
    width: 20px;
    height: 20px;
}