{% extends 'common/base_footer_header/base.html' %}

{% block title %}
    Влизане
{% endblock %}

{% block content %}
    <div class="form-section">

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="fancy special-class credentials">Влизане</button>
        </form>

        <ul class="authenticate-options-list">
            <li><a class="forgotten-password" href="{% url 'password-reset' %}">Забравена парола?</a></li>
            <li><a class="forgotten-password" href="{% url 'regular-user-registration' %}">Регистрация като потребител</a></li>
            <li><a class="forgotten-password" href="{% url 'contractor-registration' %}">Регистрация като майстор</a></li>
        </ul>
    </div>
{% endblock %}