{% extends 'common/base.html' %}

{% block title %}
    Забравена парола
{% endblock %}

{% block content %}
    <div class="form-section">
        <h2>Въведете имейла с ,който сте се регистрирали.</h2>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button class="fancy special-class credentials">Изпрати</button>
        </form>
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

{% endblock %}