.authenticate-options-list {
    display: flex;
    flex-direction: column;
    gap: -1em;
    list-style: none;
    text-align: center;
}

.authenticate-options-list a {
    width: 100%;
    height: 100%;
}