main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2em;
    flex: 1;
}

main .welcoming-section {
    padding-top: 3em;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*height: 20vh;*/
    display: flex;
    flex-direction: column;
    background-size: 100% 100%;
    /*background-color: antiquewhite;*/
}

main .welcoming-section .business-logo {
    width: 40%;
}

.business-logo a img {
    width: 100%;
}

main .welcoming-section .business-slogan {
    font-size: 1em;
    line-height: 0.0em;
}

.business-logo {
    padding-bottom: 0.6em;
}

.search-and-about {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.search-options {
    align-items: center;
    display: flex;
    flex-direction: column;
    /*gap: 1em;*/
}

.select-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.select-section .specialization {
    padding-top: 0.7em;
}

.categories {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.categories h3 {
    text-align: center;
}

.categories-content {
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
}

.categories-content .category-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.3em;
}

.categories-content .category-content p {
    font-size: 0.7em;
    color: white;
    background-color: #183a59;
    border-radius: 5px;
}

.categories .categories-content .category-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3E6D9C;
    width: 80px;
    height: 80px;
    border-radius: 5px;
}

.category-icon .icon-itself {
    filter: invert();
    width: 70%;
    height: 70%;
}


.categories .categories-content .category-icon:hover {
    background-color: #183a59;
    cursor: pointer;
    border: 2px solid black;
}


.about {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.who-are-we {
    text-align: center;
    font-size: 0.8em;
    max-width: 500px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
}

.who-are-we p img {
    align-items: center;
    vertical-align: middle;
    height: 1em;
    width: auto;
    margin: 0 0.2em;
}

.contractors-graphic {
    /*flex-shrink: 1;*/
    align-items: center;
    max-width: 400px;
}

.contractors-graphic img {
    width: 100%;
}

.are-you-contractor {
    padding: 1em 5em;
    background-color: #edeeef;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
}

.are-you-contractor .are-you-contractor-text-section .question-and-icon img {
    align-items: center;
    vertical-align: middle;
    height: 7em;
    width: auto;
    margin: 0 2em;
}

footer, header {
}