{% load static %}

<section class="are-you-contractor">

    <div class="are-you-contractor-text-section">

        <div class="question-and-icon">
            <h1>Ти си майстор?<span><img src="{% static 'images/contractor.png' %}"></span></h1>

        </div>

        <p>Ако си майстор и искаш да представиш уменията си - нашата платформа е мястото за теб!</p>
        <p>Регистрирай се ,за да може нашите потребители да разберат за теб и никога да не оставаш без работа!</p>

    </div>

    <a href="{% url 'contractor-registration' %}">

        <button class="fancy special-class">Майстор - регистрация</button>

    </a>

</section>