{% extends 'common/base.html' %}

{% block title %}
	Качване на проект
{% endblock %}

{% block content %}

    <div class="form-section">

        <h1>Качване на проект</h1>

        <form method="post" enctype="multipart/form-data">

            {% csrf_token %}
            {{ form.as_p }}

            <h2>Качи снимки</h2>

            {{ image_formset.management_form }}

            {% for form in image_formset %}
            <div class="image-form">

                {{ form.as_p }}

            </div>
            {% endfor %}

            <button class="fancy special-class">Качи проект</button>
        </form>

    </div>

{% endblock %}