{% extends 'common/base.html' %}

{% block title %}
    Регистрация-майстор
{% endblock %}

{% block content %}
    <div class="form-section">
        <h1>Регистрация като майстор</h1>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="image-object-line contractor-registration">

                <div class="image-upload-container contractor-registration">

                    <div><label for="id_profile_image">Моля качете профилна снимка </label></div>
                    <div class="no-file-chosen">{{ form.profile_image }}</div>

                </div>

            </div>


            <p>{{ form.username }}</p>
            <p>{{ form.password1 }}</p>
            <p>{{ form.password2 }}</p>
            <p>{{ form.email }}</p>
            <p>{{ form.first_name }}</p>
            <p>{{ form.last_name }}</p>
            <p>{{ form.phone_number }}</p>
            <p class="regions-input">{{ form.regions }}</p>
            <p class="specializations-input">{{ form.specializations }}</p>


{#            {% for field in form %}#}
{##}
{#                {% if field.name == "profile_image" %}#}
{##}
{#                    <div class="image-object-line contractor-registration">#}
{##}
{#                        <div class="image-upload-container contractor-registration">#}
{##}
{#                            <div><label for="id_profile_image">Моля качете профилна снимка </label></div>#}
{#                            <div class="no-file-chosen">{{ field }}</div>#}
{##}
{#                        </div>#}
{##}
{#                    </div>#}
{##}
{#                {% else %}#}
{##}
{#                    <p> {{ field }} </p>#}
{##}
{#                {% endif %}#}
{#            {% endfor %}#}


            <button class="fancy special-class credentials">Регистрация</button>
        </form>

        {% include 'accounts/common/error-messages.html' %}
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            // Initialize Select2 on the 'regions' field
            $('#id_regions').select2({
                placeholder: 'Изберете области или градове:',
                multiple: true,  // Allow multiple selections
                closeOnSelect: false  // Keep dropdown open after selecting
            });
            $('#id_specializations').select2({
                placeholder: 'Изберете специалности:',
                multiple: true,
                closeOnSelect: false
            });

            $('#id_regions, #id_specializations').on('select2:open', function () {
                // Get the current width of the body
                var bodyWidth = $('body').outerWidth();

                // Apply 'overflow: hidden' to body and set the body width to prevent layout shift
                $('body').css({
                    'overflow': 'hidden',
                    'padding-right': window.innerWidth - bodyWidth + 'px'  // Account for scrollbar width
                });
            });

            // Re-enable scrolling when the Select2 dropdown closes
            $('#id_regions, #id_specializations').on('select2:close', function () {
                // Reset overflow and padding-right to restore layout
                $('body').css({
                    'overflow': 'auto',
                    'padding-right': '0'
                });
            });


        });
    </script>
{% endblock %}