{% extends 'common/base.html' %}
{% load static %}

{% block title %}
    Профил
{% endblock %}

{% block content %}
    <div class="profile-section">

        <div class="profile-info">

            <div class="contractor-profile-info-image">

                <img src="{{ user.contractor_user.profile_image.url }}" alt="profile-icon">

            </div>

            <div class="profile-info-text">

                <p>Потребител: <span class="details-p-span">{{ user.username }}</span></p>
                <p>Име: <span class="details-p-span">{{ user.first_name }}</span></p>
                <p>Фамилия: <span class="details-p-span">{{ user.last_name }}</span></p>
                <p>Телефонен номер: <span class="details-p-span">{{ user.contractor_user.phone_number }}</span></p>
                <p>Имейл: <span class="details-p-span">{{ user.email }}</span></p>

                <p>За мен:<span class="details-p-span">

                        {% if user.contractor_user.about_me %}
                            {{ user.contractor_user.about_me }}
                        {% else %}
                            Все още не сте добавили информация за вас - можете да го направите от (Настройки на профила
                            >
                            Редактиране на профила)
                        {% endif %}

                </span></p>

            </div>

        </div>

        <div class="regions-of-work">

            <h3>Градове в които работя:</h3>

            <ul>
                {% for city in user.contractor_user.regions.all %}
                    <li>{{ city.name }}</li>
                {% endfor %}
            </ul>

        </div>

        <div class="specializations-of-work">

            <h3>Моите специалности:</h3>

            <ul>
                {% for specialization in user.contractor_user.specializations.all %}
                    <li>{{ specialization.name }}</li>
                {% endfor %}
            </ul>

        </div>

        {% include 'accounts/contractors/projects-section.html' %}

        <div class="profile-edit">
            <h3>Настройки на профила</h3>
            <a href="{% url 'password-change' %}"><p>Смяна на парола</p></a>
            <a href="{% url 'user-profile-delete' user.id %}"><p>Изтриване на профил</p></a>

        </div>

    </div>

{% endblock %}