{% extends 'common/base.html' %}
{% load static %}

{% block title %}
    Регистрация-майстор
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/multiple-select-box-regions-specializations.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="form-section">
        <h1>Регистрация като майстор</h1>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="image-object-line contractor-registration">

                <div class="image-upload-container contractor-registration">

                    <div><label for="id_profile_image">Моля качете профилна снимка </label></div>
                    <div class="no-file-chosen">{{ form.profile_image }}</div>

                </div>

            </div>


            <p>
                {{ form.username }}
                {{ form.username.errors }}
            </p>
            <p>
                {{ form.password1 }}
                {{ form.password1.errors }}
            </p>
            <p>
                {{ form.password2 }}
                {{ form.password2.errors }}
            </p>
            <p>
                {{ form.email }}
                {{ form.email.errors }}
            </p>
            <p>
                {{ form.first_name }}
                {{ form.first_name.errors }}
            </p>
            <p>
                {{ form.last_name }}
                {{ form.last_name.errors }}
            </p>
            <p>
                {{ form.phone_number }}
                {{ form.phone_number.errors }}
            </p>
            <p
                    class="regions-input">{{ form.regions }}
                {{ form.regions.errors }}
            </p>
            <p
                    class="specializations-input">{{ form.specializations }}
                {{ form.specializations.errors }}
            </p>

            <button class="fancy special-class credentials">Регистрация</button>
        </form>
        {% include 'accounts/common/error-messages.html' %}
    </div>
{% endblock %}
