{% extends 'common/base.html' %}
{% load static %}

{% block title %}
    Редактиране на профил
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/select-box-regions-specializations.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="form-section">

        <h1>Редактиране на профил</h1>

        <form method="post" enctype="multipart/form-data">

            {% csrf_token %}

            <h3>Профилна снимка</h3>

            <div class="image-object-line">

                {% if form.instance.profile_image %}

                    <div class="image-container">

                        <img src="{{ form.instance.profile_image.url }}">

                    </div>

                {% endif %}

                <div class="image-upload-container">
                    <label for="id_profile_image">Смени</label>
                    {{ form.profile_image }}

                </div>

            </div>

            <p>{{ form.first_name }}</p>
            <p>{{ form.last_name }}</p>

            <!-- Render the rest of the form -->
            <p>{{ form.phone_number }}</p>
            <p class="about-me-input">{{ form.about_me }}</p>
            <p class="regions-input">{{ form.regions }}</p>
            <p class="specializations-input">{{ form.specializations }}</p>


            <button class="fancy special-class credentials">Запази</button>
        </form>

    </div>

{% endblock %}
