{% extends 'common/base.html' %}

{% block title %}
    Редактиране на проект
{% endblock %}

{% block content %}
    <div class="form-section">

        <h1>Редактиране на проект</h1>

        <form method="post" enctype="multipart/form-data">

            {% csrf_token %}
            {{ form.as_p }}

            <h2>Редактиране на снимките</h2>

            {{ image_formset.management_form }}

            <fieldset class="project-images-create-edit">

                <div class="project-images-create-edit-container">


                    {% for image_form in image_formset %}

                        <div class="image-object-line">

                            {% if image_form.instance.image %}

                                <div class="image-container">

                                    <img src="{{ image_form.instance.image.url }}">

                                </div>

                            {% endif %}

                            <div class="image-upload-container">

                                {{ image_form }}

                            </div>

                        </div>

                    {% endfor %}

                </div>

            </fieldset>

            <button class="fancy special-class">Готово</button>
        </form>

    </div>

    <script>console.log(document.querySelector('.image-object-line:nth-child(all)'));
    console.log(document.querySelector('body > div.site > main > div > form > fieldset > div > div:nth-child(1) > div:nth-child(2)'));</script>

{% endblock %}

