{% extends 'common/base_footer_header/base.html' %}

{% block title %}
    Качване на проект
{% endblock %}

{% block content %}

    <div class="form-section">

        <h1>Качване на проект</h1>

        <form method="post" enctype="multipart/form-data">

            {% csrf_token %}
            {{ form.as_p }}

            <h2>Качи снимки</h2>

            {{ image_formset.management_form }}

            <fieldset class="project-images-create-edit">

                <div class="project-images-create-edit-container">

                    {% for image_form in image_formset %}

                        <div class="image-object-line">

                        <div class="image-upload-container">

                            {{ image_form }}

                        </div>


                        </div>
                    {% endfor %}

                </div>

            </fieldset>


            <button class="fancy special-class">Качи проект</button>
        </form>

    </div>

{% endblock %}