{% extends 'common/base.html' %}

{% block title %}
    Редактиране на проект
{% endblock %}

{% block content %}
    <div class="form-section">

        <form method="post" enctype="multipart/form-data">

            {% csrf_token %}
            {{ form.as_p }}

            {{ image_formset.management_form }}

            <fieldset class="project-images-edit">

                <div class="project-images-edit-container">


                    {% for image_form in image_formset %}

                        <div class="image-object-edit">

                            {% if image_form.instance.image %}

                                <div class="image-container">

                                    <img src="{{ image_form.instance.image.url }}">

                                </div>


                            {% endif %}

                            {{ image_form }}

                        </div>

                    {% endfor %}

                </div>

            </fieldset>

            <button class="fancy special-class">Готово</button>
        </form>

    </div>

    <script>console.log(document.querySelector('.image-object-edit:nth-child(all)'));
console.log(document.querySelector('body > div.site > main > div > form > fieldset > div > div:nth-child(1) > div:nth-child(2)'));</script>

{% endblock %}

