{% load static %}
<div class="projects">

    <h3>Моите проекти:</h3>

    <div class="projects-cards">

        {% for project in user.contractor_user.projects.all %}

            <div class="project-card">

                <div class="project-actions-section">

                    <div class="edit-button"><a href="{% url 'contractor-user-project-edit' project.id %}"><img src="{% static 'images/edit.png' %}"></a></div>
                    <div class="delete-object-button"><a href="{% url 'contractor-user-project-delete' project.id %}"><img src="{% static 'images/delete-object.png' %}"></a></div>

                </div>

                <div class="project-card-info">
                    {% if project.project_name %}
                        <p>Име на проекта: <span class="project-details-p-span">{{ project.project_name }}</span>
                        </p>
                    {% endif %}
                    <p>Описание: <span class="project-details-p-span">{{ project.project_description }}</span></p>
                    {% if project.min_price_for_similar_project and project.max_price_for_similar_project %}
                        <p>Минимална цена за подобен проект:
                            <span class="project-details-p-span">{{ project.min_price_for_similar_project }}лв.</span>
                        </p>
                        <p>Максимална цена за подобен проект:
                            <span class="project-details-p-span">{{ project.max_price_for_similar_project }}лв.</span>
                        </p>
                    {% endif %}

                </div>

                <div class="project-card-images">

                    {% for image_object in project.project_images.all %}
                        <div class="project-card-image">

                            <img src="{{ image_object.image.url }}">
                            {% if image_object.image_caption %}
                            <span class="image-caption">{{ image_object.image_caption }}</span>
                            {% endif %}
                        </div>
                    {% endfor %}

                </div>

            </div>

        {% endfor %}

    </div>

    <div class="upload-project">

        <a href="{% url 'contractor-user-project-create' user.id %}"><button class="fancy special-class credentials">Създай нов</button></a>

    </div>

</div>
