{% extends 'common/base.html' %}
{% load static %}

{% block title %}
    За нас
{% endblock %}

{% block content %}

    <div class="about-us-section">

        <div class="about-us-media-question">

            <div class="about-us-media">

                <div class="do-you-know-1">

                    <img src="{% static 'images/do-you-know-someone1.png' %}">

                </div>

                <div class="do-you-know-1">

                    <img src="{% static 'images/do-you-know-someone2.png' %}">

                </div>

            </div>

            <h2>Познаваш ли някой майстор за...?</h2>

        </div>

        <div class="about-us-p">


            <p><span class="question-answer">Познаваш ли някой майстор за...? - Да, познаваме! Но добре ли се справя? - Да!
                Можеш да видиш отзивите оставени за него.</span>
                Това са въпроси, които всеки от нас задава на близки и приятели, когато планира ремонт. Нека ние бъдем твоят приятел и ти
                помогнем да намериш правилния майстор. Екипът ни отсява само реални отзиви, за да си сигурен в избора си
                на специалист!
            </p>

        </div>

    </div>

{% endblock %}