{% load static %}

<div class="contractor-card">
    <div class="profile-img">
        <img src="{{ contractor.contractor.profile_image.url }}">
    </div>
    <h1>
        {{ contractor.contractor.user.get_full_name }}
    </h1>

    <div class="description">

        <div class="contractor-card-specializations">

            <h2>Специалист <br> по:</h2>

            <ul>
                {% for specialization in contractor.contractor.specializations.all|slice:3 %}

                    <li>{{ specialization }}</li>

                {% endfor %}
            </ul>

        </div>

        <div class="contractor-card-regions">

            <h2>Работи в <br>области:</h2>

            <ul>
                {% for region in contractor.contractor.regions.all|slice:3 %}

                    <li>{{ region }}</li>

                {% endfor %}
            </ul>

        </div>

    </div>

    <a href="{% url 'contractor-public-profile' contractor.slug %}">
        <div class="card-footer">
            {% if user.is_authenticated %}

                <button class="fancy special-class">Виж профил</button>

            {% else %}

                <p class="forbidden-info">За да видите пълният профил на майстора трябва да сте регистриран потребител</p>
                <а>Регистрация</а>

            {% endif %}
        </div>
    </a>
</div>