{% extends 'common/base.html' %}
{% load static %}

{% block title %}
    Профил
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/project-images-displaying.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="public-profile-wrapper">

        <div class="contractor-info-section">

            <div class="info-left-side">

                <div class="profile-image-and-name">

                    <div class="profile-image">
                        <img src="{{ public_contractor.contractor.profile_image.url }}">
                    </div>

                    <h2>{{ public_contractor.contractor.user.get_full_name }}</h2>

                </div>

                <div class="about-me-and-contacts">

                    <h3>Персонална информация</h3>
                    {% if public_contractor.contractor.about_me %}
                        <p class="about-me">За мен: <span>{{ public_contractor.contractor.about_me }}</span></p>
                    {% endif %}

                    {% if public_contractor.contractor.phone_number %}
                        <p class="phone-number">Телефонен номер: <span>{{ public_contractor.contractor.phone_number }}</span>
                        </p>
                    {% endif %}

                    {% if public_contractor.contractor.social_networks %}

                    {% else %}

                        <ul class="social-networks">
                            <p>Социални мрежи:</p>
                            <li><img src="{% static 'images/facebook-icon.png' %}"></li>
                            <li><img src="{% static 'images/instagram-logo.png' %}"></li>
                            <li><img src="{% static 'images/linkedin-icon.png' %}"></li>

                        </ul>

                    {% endif %}

                </div>

            </div>

            <div class="info-right-side">

                <div class="my-specializations">

                    <h3>Моите специалности <span class="specializations-small-icon"><img
                            src="{% static 'images/tool-icon.png' %}"></span></h3>

                    <ul>

                        {% for specialization in public_contractor.contractor.specializations.all %}

                            <li>{{ specialization }}</li>

                        {% endfor %}

                    </ul>

                </div>

                <div class="my-regions">

                    <h3>Градове и региони в ,които работя <span class="regions-small-icon"><img
                            src="{% static 'images/loacation-small.png' %}"></span></h3>

                    <ul>

                        {% for region in public_contractor.contractor.regions.all %}

                            <li>{{ region }}</li>

                        {% endfor %}

                    </ul>

                </div>

            </div>

        </div>

        <div class="projects">

            <h3>Моите проекти:</h3>

            {% if public_contractor.contractor.projects.exists %}

                <div class="projects-cards">

                    {% for project in public_contractor.contractor.projects.all %}

                        <div class="project-card">

                            <div class="project-card-info">
                                {% if project.project_name %}
                                    <p>Име на проекта: <span
                                            class="project-details-p-span">{{ project.project_name }}</span>
                                    </p>
                                {% endif %}
                                <p>Описание: <span
                                        class="project-details-p-span">{{ project.project_description }}</span>
                                </p>
                                {% if project.average_price_for_similar_project %}
                                    <p>Средна цена за подобен проект:
                                        <span class="project-details-p-span">{{ project.average_price_for_similar_project }}лв.</span>
                                    </p>
                                {% endif %}

                            </div>

                            <div class="project-card-images">

                                {% for image_object in project.project_images.all %}
                                    <div class="project-card-image">

                                        <img src="{{ image_object.image.url }}">
                                        {% if image_object.image_caption %}
                                            <span class="image-caption">{{ image_object.image_caption }}</span>
                                        {% endif %}
                                    </div>
                                {% endfor %}

                            </div>

                        </div>

                    {% endfor %}

                </div>

            {% else %}

                <p class="no-projects">Майсторът все още няма качени проекти.</p>

            {% endif %}

        </div>

        <div class="feedback-section">

            <div class="feedback-form-section">

                {% include 'common/feedback-form.html' %}

            </div>

            <div class="clients-feedback-section">

                {% include 'common/clients-feedbacks.html' %}

            </div>

        </div>

    </div>


{% endblock %}
