{% load static %}
<header>

    <div class="navigation-and-logo">
        
        {% include 'common/nav-dropdown.html' %}    
        <div class="header-logo">
            <a href="#"><img alt="maistor box" src="{% static 'images/logo.png' %}"></a>
        </div>
        
    </div>
    
    
    <div class="user-section">
        
        {% if request.user.is_authenticated %}
        	<p>Здравейте  {{ request.user }}!</p>
            {% include 'common/profile-dropdown-menu.html' %}
        {% else %}
            <p>nqma user</p>
        {% endif %} 
        
    </div>

</header>