{% extends "common/base.html" %}
{% load static %}

{% block scripts %}
    <script src="{% static 'js/select-box-regions-specializations.js' %}"
            data-select-mode="single">
    </script>
{% endblock %}

{% block content %}


    <section class="welcoming-section">

        <div class="business-logo">

            <a href="{% url 'home_page' %}">

                <img src="{% static 'images/logo2.png' %}">

            </a>

        </div>

        <p class="business-slogan">Намерете най-добрият майстор за вашия ремот.</p>

    </section>

    <section class="search-and-about">

        {% include 'search-board/search-form-home-page.html' %}

        <div class="about">

            <article class="who-are-we">
                <p><span><img src="{% static 'images/logo.png' %}"></span> е платформата която помага както на всички
                    нас да направим правилния избор за майстор ,така и на всички майстори да предлагат услугите си по
                    подреден и координиран начин!</p>

            </article>

            <div class="contractors-graphic">

                <img src="{% static 'images/contractors.jpg' %}">

            </div>

        </div>


    </section>


    <section class="recently-registered-contractors">

        <h3>Последно регистрирани майстори:</h3>

        {% if not user.is_authenticated %}
            {% include 'common/not-authenticated-message.html' %}
        {% endif %}

        <div class="contractors-cards">

            {% if contractor %}

                {% for contractor in contractor.all %}

                    {% include 'common/contractor-card.html' %}

                {% endfor %}

            {% else %}

                <p>Все още няма регистрирани майстори.</p>

            {% endif %}

        </div>

    </section>

    {% if user.is_authenticated %}
        {% if user.user_type == 'contractor_user' %}

        {% else %}

            {% include 'common/are-you-contractor.html' %}

        {% endif %}

    {% else %}

        {% include 'common/are-you-contractor.html' %}

    {% endif %}





{% endblock %}
