{% extends 'common/base_footer_header/base.html' %}
{% load static %}

{% block title %}
    Изпратено успешно
{% endblock %}

{% block content %}

    <div class="sent-successfully-section">

        <div class="sent-successfully-image"><img src="{% static 'images/send-message.png' %}"></div>

        <h1>Изпратено успешно!</h1>

        {% if contractor_profile_url %}
            <p>Благодарим ви за отзива! Очаква се одобрение от админстратор.</p>
            <p>
                <a href="{{ contractor_profile_url }}">Назад към профила</a>
            </p>
        {% endif %}

    </div>

{% endblock %}



