{% load static %}
<header>

    <div class="navigation-and-logo">
        
        {% include 'common/components/nav-dropdown.html' %}
        <div class="header-logo">
            <a href="{% url 'home_page' %}"><img alt="maistor box" src="{% static 'images/logo.png' %}"></a>
        </div>
        
    </div>
    
    
    <div class="user-section">
        
        {% if request.user.is_authenticated %}
        	{% if request.user.user_type == "regular_user" %}
            <p>Здравейте потребител {{ request.user }}!</p>
            {% else %}
                <p>Здравейте майстор {{ request.user.last_name }}!</p>
            {% endif %}
            {% include 'common/components/profile-dropdown-menu.html' %}
        {% else %}
            <nav>
            
                <a href="{% url 'login' %}">Влез</a>
                <a href="{% url 'regular-user-registration' %}">Регистрация</a>
                <a href="{% url 'contractor-registration' %}">Регистрация като майстор</a>

            </nav>
        {% endif %} 
        
    </div>

</header>