{% extends 'common/base.html' %}
{% load static %}

{% block title %}
    Майстори
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/select-box-regions-specializations.js' %}"
    data-select-mode="single">
    </script>
{% endblock %}

{% block content %}

    {% include 'search-board/search-form-secondary.html' %}

    <div class="contractor-results">

        {% if contractors_list %}

            {% for contractor in contractors_list %}

                {% include 'common/contractor-card.html' %}

            {% endfor %}

        {% else %}

            <p>nqma rezultati</p>

        {% endif %}

    </div>

{% endblock %}